@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-stretch-shake {
    animation-name: stretch-shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes stretch-shake {
    25% {
        transform: scale(1) rotate(0deg);
    }

    40% {
        transform: scale(1.05) rotate(10deg);
    }

    50% {
        transform: scale(1.5) rotate(-20deg);
    }

    60% {
        transform: scale(1) rotate(0deg);
    }
}

.horizontallyCentered {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.font-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --header-height: 65px;
    --color-light-orange: #F8D7B0;
    --color-dark-orange: #DE541E;
    --color-jet: #2D2D2A;
    --color-paynes-grey: #59656F;
    --pigment-green: #3DA35D;
}

input[type="range"] {
    accent-color: var(--color-dark-orange);
}